@font-face {
  font-family: MainFont;
  src: url('./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
  font-family: OrangeJuice;
  src: url('./fonts/orange-juice/orange\ juice\ 2.0.ttf') format('truetype');
}
@font-face {
  font-family: AlphaKids;
  src: url('./fonts/alpha-kids/AlphaKids-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Cinema;
  src: url('./fonts/cinema/cinema_st.ttf') format('truetype');
}
